html
  head
    b Movie Information
    br
  body
    a(href='/') Home
    br
    div(class='divMovieInfo')
      p
      b Composite Score: 
      compositeScore= compositeScore
      br
      b Title: 
      movieTitle= movieTitle
      br
      b Year: 
      year= year
      br
      b Genre: 
      genre= genre
      br
      b Rating: 
      rating= rating
      b
      
    div(class="divComment")
      u1
        li
          Username
          br
          Review
          br
          DidUserLike